<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body bgcolor="yellow">
<h1 align="center">GYMAALE</h1>


<!-- Latest compiled and minified JavaScript -->
</body>
</html>


<!DOCTYPE html>
<html lang="en">
<head>
    <title>GYMAale</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="SportFIT template project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='styles/bootstrap-4.1.2/bootstrap.min.css') }}">
    <link href="{{ url_for('static', filename='plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}"
          rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='plugins/OwlCarousel2-2.2.1/owl.carousel.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='plugins/OwlCarousel2-2.2.1/owl.theme.default.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='plugins/OwlCarousel2-2.2.1/animate.css') }}">
    <link href="{{ url_for('static', filename='plugins/colorbox/colorbox.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/services.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/services_responsive.css') }}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href=
            "{{ url_for('static',filename='images/logo.jpeg') }}"
          type="image/x-icon"><style>
    .button {
        display: inline-block;
        padding: 15px 25px;
        font-size: 24px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: darkorange;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
    }

    .button:hover {background-color: #3e8e41}

    .button:active {
        background-color: red;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }
</style>
</head>
<body>
<pre>




</pre>
<div class="container">
    <div class="row" style="margin-top: 40px">
        <div class="">
            <h2 align="center">You will need a trainer account to access this section.</h2><br>
            <h3 align="center">Create one</h3>
            <ul>
                <li class=""><a href="/trainer_register/register" class=""><h4 align="center"><button class="button">Register</button></h4></a></li>
                <br><br>
                <h3 align="center">Have one</h3>
                <li class=""><a href="/trainer_register/login" class=""><h4 align="center"><button class="button">Login</button></h4></a></li>
            </ul>
        </div>
    </div>
</div>
<pre>


</pre>


<div class="super_container">

    <!-- Header -->

    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="header_content d-flex flex-row align-items-center justify-content-start trans_400">
                        <a href="#">
                            <div class="logo d-flex flex-row align-items-center justify-content-start"><img
                                    src="/static/images/dot.png" alt="">
                                <div>GYMA<span>ale</span></div>
                            </div>
                        </a>


                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Hamburger -->

    <div class="hamburger_bar trans_400 d-flex flex-row align-items-center justify-content-start">
        <div class="hamburger">
            <div class="menu_toggle d-flex flex-row align-items-center justify-content-start">

                <div class="line_1 hamburger_lines" style="transform: matrix(1, 0, 0, 1, 0, 0);"></div>
                <div class="line_2 hamburger_lines" style="visibility: inherit; opacity: 1;"></div>
                <div class="line_3 hamburger_lines" style="transform: matrix(1, 0, 0, 1, 0, 0);"></div>
            </div>
        </div>
    </div>
</div>
</div>


<!-- Footer -->

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="footer_container">
                    <div class="footer_content">
                        <div class="footer_logo">
                            <a href="#">
                                <div class="logo d-flex flex-row align-items-center justify-content-center"><img
                                        src="/static/images/dot.png" alt="">
                                    <div>GYMA<span>ale</span></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="footer_image text-center"><img src="/static/images/footer.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>

<script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='styles/bootstrap-4.1.2/popper.js') }}"></script>
<script src="{{ url_for('static', filename='styles/bootstrap-4.1.2/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/greensock/TweenMax.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/greensock/TimelineMax.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/scrollmagic/ScrollMagic.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/greensock/animation.gsap.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/greensock/ScrollToPlugin.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/OwlCarousel2-2.2.1/owl.carousel.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/easing/easing.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/progressbar/progressbar.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/parallax-js-master/parallax.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/colorbox/jquery.colorbox-min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/Isotope/isotope.pkgd.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/services.js') }}"></script>
</body>
</html>