<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirming Trainer Account</title>
    <link rel="icon" href=
            "{{ url_for('static',filename='images/logo.jpeg') }}"
          type="image/x-icon">
</head>
<body>
<h1>
    Enter the trainer ref id which is provided to you in email so that the account can be verified. and on entering the
    id click enter
</h1>
<form method="post">
    <div class="form-group">
        <label for="email">Enter the REF ID below.</label>
        <input type="text" placeholder="Enter the ref id" name="ref_id" id="ref_id" class="form-control">
    </div>
    <div class="form-group">
        <label for="email">Choose the id for?</label>
        <input type="radio" name="id_bel" value="owner_ref"> Owner_ref_id<br>
        <input type="radio" name="id_bel" value="ref" required> ref_id
    </div>
</form>
</body>
</html>