<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <img src="https://res.cloudinary.com/harshkumarkhatri/image/upload/v1585711915/demo_images/logo_gvuxas.jpg" width="84" height="84">
    <h3>Congratulations on getting your admin account verified at gymaale.
        You can view your account by clicking the link below.</h3>
    <h2>
        <a href="{url_for('admin__', _external=True)}">Click here.</a>
    </h2>
</div>
</body>
</html>