<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img src="https://res.cloudinary.com/harshkumarkhatri/image/upload/v1585711915/demo_images/logo_gvuxas.jpg" width="84" height="84"><br>
The details of the user who applied as an admin are as follows.
name= {{uname}}
password= {{passw}}
email= {{email}}
sec_code= {{sec_code}}
Click on the link below to enter the details and confirm the user.
<h1><a href="{{url_for('admin_registerr_something_secret', _external=True)}}">Click here</a></h1>
</body>
</html>