<!--In this file we have to make the user select the time period for which he want to join the gym-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    <label>Choose</label>
    <input type="radio" name="any" value="day" required>Days<br>
    <input type="radio" name="any" value="month">Month/s<br>
    <label>Input time period.</label>
    <input type="text" placeholder="Enter your city" name="city" class="form-control"
           id="city" autocomplete="off" required>
    <button type="submit">Post</button>
    <a href=""> Confirm booking</a>

</form>
</body>
</html>