<!DOCTYPE html>
<html lang="en">
<head>
    <title>Services</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="SportFIT template project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='styles/bootstrap-4.1.2/bootstrap.min.css') }}">
    <link href="{{ url_for('static', filename='plugins/font-awesome-4.7.0/css/font-awesome.min.css') }}"
          rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='plugins/OwlCarousel2-2.2.1/owl.carousel.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='plugins/OwlCarousel2-2.2.1/owl.theme.default.css') }}">
    <link rel="icon" href=
            "{{ url_for('static',filename='images/logo.jpeg') }}"
          type="image/x-icon"><link rel="stylesheet" type="text/css"
                                    href="{{ url_for('static', filename='plugins/OwlCarousel2-2.2.1/animate.css') }}">
    <link href="{{ url_for('static', filename='plugins/colorbox/colorbox.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/services.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/services_responsive.css') }}">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }

        #myBtn {
            display: none;
            position: fixed;
            bottom: 15px;
            left: 20px;
            z-index: 99;
            font-size: 18px;
            border: none;
            outline: none;
            background-color: red;
            color: white;
            cursor: pointer;
            padding: 1px;
            border-radius: 0px;
        }

        #myBtn:hover {
            background-color: #555;
        }
    </style>
    <style>
        .avatar {
            vertical-align: middle;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
    </style>
</head>
<body>
<button onclick="topFunction()" id="myBtn" title="Go to top"><img
        src="/static/images/WhatsApp%20Image%202019-11-20%20at%209.42.21%20AM.jpeg"></button>
<div class="super_container">

    <!-- Header -->

    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="header_content d-flex flex-row align-items-center justify-content-start trans_400">
                        <a href="/main">
                            <div class="logo d-flex flex-row align-items-center justify-content-start"><img
                                    src="/static/images/dot.png" alt="">
                                <div>GYMA<span>ale</span></div>
                            </div>
                        </a>
                        <nav class="main_nav">
                            <ul class="d-flex flex-row align-items-center justify-content-start">
                                <li><a href="/main">Home</a></li>
                                <li><a href="/about">About us</a></li>
                                <li class="active"><a href="/services">Services</a></li>
                                <li><a href="/contact">Contact</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </nav>
                        <div class="phone d-flex flex-row align-items-center justify-content-start ml-auto">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <div>9999999999</div>
                        </div>
                        <pre>    </pre>
                        <a href="/account">
                            <img src="/static/images/img_avatar.png" alt="Avatar" class="avatar" title="Profile"></a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Hamburger -->

    <div class="hamburger_bar trans_400 d-flex flex-row align-items-center justify-content-start">
        <div class="hamburger">
            <div class="menu_toggle d-flex flex-row align-items-center justify-content-start">
                <span>menu</span>
                <div class="hamburger_container">
                    <div class="menu_hamburger">
                        <div class="line_1 hamburger_lines" style="transform: matrix(1, 0, 0, 1, 0, 0);"></div>
                        <div class="line_2 hamburger_lines" style="visibility: inherit; opacity: 1;"></div>
                        <div class="line_3 hamburger_lines" style="transform: matrix(1, 0, 0, 1, 0, 0);"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Menu -->

    <div class="menu trans_800">
        <div class="menu_content d-flex flex-column align-items-center justify-content-center text-center">
            <ul>
                <li><a href="/main">Home</a></li>
                <li><a href="/about">About us</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
        <div class="menu_phone d-flex flex-row align-items-center justify-content-start">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <span>9999999999</span>
        </div>
    </div>

    <!-- Home -->

    <div class="home">
        <div class="background_image" style="background-image:url(/static/images/services.jpg)"></div>
        <div class="overlay"></div>
        <div class="home_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="home_content">
                            <div class="home_title">Services</div>
                            <div class="home_subtitle">Gym, Diet, Trainer & many more.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Services -->

    <div class="services">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section_title_container">
                        <div class="section_subtitle">welcome to GYMAale</div>
                        <div class="section_title">Our Services</div>
                    </div>
                </div>
            </div>
            <div class="row services_row">

                <!-- Service -->
                <div class="col-xl-4 col-md-6 service_col">
                    <a href="/various_gym">
                        <div class="service">
                            <div class="service_title_container d-flex flex-row align-items-center justify-content-start">
                                <div>
                                    <div class="service_icon"><img src="/static/images/icon_4.png" alt=""></div>
                                </div>
                                <div class="service_title">Various Gyms</div>
                            </div>
                            <div class="service_text">
                                <p>We have vaiety of gyms to choose from which are ranging from different categories</p>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Service -->
                <div class="col-xl-4 col-md-6 service_col">
                    <a href="/certified_trainers">
                        <div class="service">
                            <div class="service_title_container d-flex flex-row align-items-center justify-content-start">
                                <div>
                                    <div class="service_icon"><img src="/static/images/icon_5.png" alt=""></div>
                                </div>
                                <div class="service_title">Certified Trainers</div>
                            </div>
                            <div class="service_text">
                                <p>Train with the trainer you are most comfortable with to achieve your goal. Currently
                                    online trainers available.</p>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Service -->
                <div class="col-xl-4 col-md-6 service_col">
                    <a href="/healthy">
                        <div class="service">
                            <div class="service_title_container d-flex flex-row align-items-center justify-content-start">
                                <div>
                                    <div class="service_icon"><img src="/static/images/icon_6.png" alt=""></div>
                                </div>
                                <div class="service_title">Healthy Diet Plans</div>
                            </div>
                            <div class="service_text">
                                <p>Free diet plans have been provided by us which are recommended by famous
                                    bodybuilders.</p>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Service -->
                <div class="col-xl-4 col-md-6 service_col">
                    <a href="/services/shop/supplements">
                        <div class="service">
                            <div class="service_title_container d-flex flex-row align-items-center justify-content-start">
                                <div>
                                    <div class="service_icon"><img src="/static/images/icon_8.png" alt=""></div>
                                </div>
                                <div class="service_title">Supplementation</div>
                            </div>
                            <div class="service_text">
                                <p>You can chooses from the stack given and order the supplement as per your
                                    convinience</p>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Service -->
                <div class="col-xl-4 col-md-6 service_col">
                    <a href="https://www.healthkart.com/fitness/fitness-equipment/muscle-building-equipments?navKey=SCT-fit-mus-be&itracker=w:category|top-selling-in-home-gym|;c:view-all|;">
                        <div class="service">
                            <div class="service_title_container d-flex flex-row align-items-center justify-content-start">
                                <div>
                                    <div class="service_icon"><img src="/static/images/icon_7.png" alt=""></div>
                                </div>
                                <div class="service_title">Gym Equipments</div>
                            </div>
                            <div class="service_text">
                                <p>Equipments avalable which you can install at your home if you do not wish to join
                                    gym.</p>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Service -->
                <div class="col-xl-4 col-md-6 service_col">
                    <a href="/gym_accessories">
                        <div class="service">
                            <div class="service_title_container d-flex flex-row align-items-center justify-content-start">
                                <div>
                                    <div class="service_icon"><img src="/static/images/icon_9.png" alt=""></div>
                                </div>
                                <div class="service_title">Gym Accessories</div>
                            </div>
                            <div class="service_text">
                                <p>Basic accessories which are used in gyms are available.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Service -->
                <div class="col-xl-4 col-md-6 service_col">
                    <a href="/schedules">
                        <div class="service">
                            <div class="service_title_container d-flex flex-row align-items-center justify-content-start">
                                <div>
                                    <div class="service_icon"><img src="/static/images/icon_4.png" alt=""></div>
                                </div>
                                <div class="service_title">Schedules</div>
                            </div>
                            <div class="service_text">
                                <p>Currently we are providing schedules which are recommended by famous
                                    bodybuilders.</p>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Service -->
                <div class="col-xl-4 col-md-6 service_col">
                    <a href="/bmi">
                        <div class="service">
                            <div class="service_title_container d-flex flex-row align-items-center justify-content-start">
                                <div>
                                    <div class="service_icon"><img src="/static/images/icon_5.png" alt=""></div>
                                </div>
                                <div class="service_title">BMI Calculator</div>
                            </div>
                            <div class="service_text">
                                <p>Calculate your body mass index to see where you lie on fitness scale.</p>
                            </div>
                        </div>
                    </a>
                </div><br>

                <!-- Service -->
                <div class="col-xl-4 col-md-6 service_col">
                    <a href="/fat" target="_blank">
                        <div class="service">
                            <div class="service_title_container d-flex flex-row align-items-center justify-content-start">
                                <div>
                                    <div class="service_icon"><img src="/static/images/icon_6.png" alt=""></div>
                                </div>
                                <div class="service_title">Fat Percentage</div>
                            </div>
                            <div class="service_text">
                                <p>Helpful in seeing how much fat and muscle is present in your body.</p>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>


    <!-- Extra -->

    <div class="extra d-flex flex-column align-items-center justify-content-center text-center">
        <div class="background_image" style="background-image:url(/static/images/extra_wide.jpg)"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="extra_content d-flex flex-column align-items-center justify-content-center text-center">
                        <div class="extra_title">Attractive Offers</div>
                        <div class="extra_text">
                            <p>Attractive offers on the way for you people.</p>
                        </div>
                        <div class="button extra_button"><a href="#">Comming Soon</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="footer_container">
                        <div class="footer_content">
                            <div class="footer_logo">
                                <a href="#">
                                    <div class="logo d-flex flex-row align-items-center justify-content-center"><img
                                            src="/static/images/dot.png" alt="">
                                        <div>GYMA<span>ale</span></div>
                                    </div>
                                </a>
                            </div>
                            <nav class="footer_nav">
                                <ul class="d-flex flex-sm-row flex-column align-items-sm-start align-items-center justify-content-center">
                                    <li><a href="/main">Home</a></li>
                                    <li><a href="/about">About us</a></li>
                                    <li><a href="/services">Services</a></li>
                                    <li><a href="/blog">Blog</a></li>
                                    <li><a href="/contact">Contact</a></li><li><a href="/faqs">FAQs</a></li>
                                </ul>
                            </nav>
                            <div class="newsletter_container">
                                <form method="POST" id="newsletter_form"
                                      class="newsletter_form">
                                    <input type="text" class="newsletter_input" name="imail" id="imail"
                                           placeholder="Enter your email here"
                                           required="required">
                                    <button class="newsletter_button">go</button>

                                </form>
                            </div>
                        </div>
                        <div class="footer_image text-center"><img src="/static/images/footer.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

<script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='styles/bootstrap-4.1.2/popper.js') }}"></script>
<script src="{{ url_for('static', filename='styles/bootstrap-4.1.2/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/greensock/TweenMax.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/greensock/TimelineMax.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/scrollmagic/ScrollMagic.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/greensock/animation.gsap.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/greensock/ScrollToPlugin.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/OwlCarousel2-2.2.1/owl.carousel.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/easing/easing.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/progressbar/progressbar.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/parallax-js-master/parallax.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/colorbox/jquery.colorbox-min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/Isotope/isotope.pkgd.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/services.js') }}"></script>
<script>
    //Get the button
    var mybutton = document.getElementById("myBtn");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
</body>
</html>